* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

body,html {
    overflow: none;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Playfair Display', serif;
}

button {
    background-image:linear-gradient(rgb(2, 2, 56),blue);
    color: white;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(rgb(13, 13, 238),rgb(73, 73, 250));
}

// font-family: 'Playfair Display', serif; //400,500,700
// font-family: 'Roboto', sans-serif; //100,300,400,500,700