#game {
    height: 100vh;
    background-image: url('../images/main1.jpg');
    background-size: cover;
    padding-top: 1rem;

    >p {
        padding-left: 0.5rem;
        padding-bottom: 2rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }

    >div:first-of-type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        >* {
            margin-bottom: 1rem;
        }
    }

    img {
        width: 6rem;
        display: block;
        margin: 1rem auto 0;
        box-shadow: 0.1rem 0.1rem 0.5rem black;
    }

    >div:last-child {
        position: absolute;
        bottom:2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        >* {
            margin-bottom: 0.5rem;
            padding: 0.7rem 2rem;
        }

        button:disabled {
            color: white;
            background-image:linear-gradient(rgb(161, 161, 161),gray) ;
            cursor:not-allowed;
        }
    }
}

@media screen and (min-width:600px) {
    #game {
        >div:first-of-type {
            flex-direction: row;
            justify-content: space-around;
        }

        >div:last-child {
            flex-direction: row;
            justify-content: space-around;
            width: 70%;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
        }
    }
}

@media screen and (min-width:900px) {
    #game {
        img {
            width:8rem;
        }
    }
}

@media screen and (min-width:1100px) {
    #game {
        >div:last-child {
            width: 50%;
        }
    }
}